.service-section {
    height: 900px;
}

#dark .service-section {
    color: white;

}

@media (max-width: 1000px) {
    .service-section {
        height: auto;
    }
}

.services {
    margin-top: 100px;
    color: black;
    padding: 10px;

    box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -webkit-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    -moz-box-shadow: 15px 9px 9px -2px rgba(230, 224, 224, 0.86);
    cursor: pointer;
}

#dark .services {
    background-color: #38004c;
    color: white;

    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);

}


.services:hover {
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    transition-duration: 1s;
    cursor: pointer;
    border-left: 3px solid purple;
}

.service-number {
    border-radius: 90px;
    height: 50px;
    width: 50px;
    color: white;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -30px;
}

.service-number p {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}

.section_title h5 {
    text-align: center;
}

.serivce_line {
    display: block;
    width: 100%;
    height: 0.1px;
    margin-bottom: 10px;
    background-color: #121005;
}

.list-of-service p {
    text-align: left;
}